.admin-navbar {
    width: 20%;
    height: 100%;
    border-right: 1px solid #cdcece;
    background-color: #ffffff;
    background-image: url(../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png);
    position: fixed;
    top: 0;
    z-index: 7;
    .nav {
      width: 90%;
      padding: 17px 0px;
      padding-left: 30px;
    border-bottom: 1px solid #cdcece;
      .logo{
        img{
            width: 200px;
        }
    }
    }
    nav {
      padding: 30px 0;
      ul {
        li{
            list-style: none;
        }
        .nav-menu {
          margin-top: 15px;
          .icon {
            width: 40px;
            height: 38px;
            background-color: rgba(181, 181, 184, 0.541);
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s;
            .fa-solid{
              font-size: 15px;
            }
          }
          a {
            color: black;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.3s;
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 10px;
            text-decoration: none;
            
            &:hover {
              color: #1babbe;
            }
            &.active {
              color: #1babbe;
            }
          }
          ul {
            padding: 10px 35px;
            li{
                list-style: none;
            }
            .menu-item {
              margin-top: 8px;
              a {
                display: flex;
                align-items: center;
                .fa-solid {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }