#projects {
  background-image: url(../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png);
  padding-top: 100px;
  .projects {
    h2 {
      font-family: "Montserrat", sans-serif;
      font-family: "Righteous", cursive;
      color: #000;
      font-size: 55px;
      line-height: 1.4em;
      font-weight: 400px;
    }
    .frst {
      display: flex;
      justify-content: space-around;
      @media only screen and (max-width: 478px) {
        flex-direction: column;
      }
      .left {
        img {
          width: 70%;
          @media only screen and (max-width: 478px) {
            width: 100%;
          }
        }
        p {
          font-family: Inter, sans-serif;
          color: #333;
          font-size: 16px;
          line-height: 1.4em;
          font-weight: 600;
        }
        h5 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Montserrat", sans-serif;
          font-family: "Righteous", cursive;
          color: #000;
          font-size: 32px;
          line-height: 1.4em;
          font-weight: 400;
        }
      }
      .right {
        img {
          width: 70%;
          @media only screen and (max-width: 478px) {
            width: 100%;
          }
        }
        p {
          font-family: Inter, sans-serif;
          color: #333;
          font-size: 16px;
          line-height: 1.4em;
          font-weight: 600;
        }
        h5 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Montserrat", sans-serif;
          font-family: "Righteous", cursive;
          color: #000;
          font-size: 32px;
          line-height: 1.4em;
          font-weight: 400;
        }
      }
    }
    .second {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      @media only screen and (max-width: 478px) {
        flex-direction: column;
      }
      .left {
        img {
          width: 68%;
          @media only screen and (max-width: 478px) {
            width: 100%;
          }
        }
        p {
          font-family: Inter, sans-serif;
          color: #333;
          font-size: 16px;
          line-height: 1.4em;
          font-weight: 600;
        }
        h5 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Montserrat", sans-serif;
          font-family: "Righteous", cursive;
          color: #000;
          font-size: 32px;
          line-height: 1.4em;
          font-weight: 400;
          max-width: 300px;
        }
      }
      .right {
        img {
            width: 68%;
            @media only screen and (max-width: 478px) {
              width: 100%;
            }
        }
        p {
          font-family: Inter, sans-serif;
          color: #333;
          font-size: 16px;
          line-height: 1.4em;
          font-weight: 600;
        }
        h5 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Montserrat", sans-serif;
          font-family: "Righteous", cursive;
          color: #000;
          font-size: 32px;
          line-height: 1.4em;
          font-weight: 400;
          max-width: 400px;
        }
      }
    }
    .third {
      margin-top: 100px;
      @media only screen and (max-width: 478px) {
       margin-left: 0;
      }
      .left {
        img {
            width: 40%;
            @media only screen and (max-width: 478px) {
              width: 100%;
            }
        }
        p {
          font-family: Inter, sans-serif;
          color: #333;
          font-size: 16px;
          line-height: 1.4em;
          font-weight: 600;
          margin: 0;
        }
        h5 {
          margin-top: 0px;
          margin-bottom: 10px;
          font-family: "Montserrat", sans-serif;
          font-family: "Righteous", cursive;
          color: #000;
          font-size: 32px;
          line-height: 1.4em;
          font-weight: 400;
        }
      }
    }
  }
}
