#event {
    background-image: url(../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png);
    padding-bottom: 100px;
  .event {
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-family: "Righteous", cursive;
      color: #000;
      font-size: 60px;
      line-height: 1.4em;
      font-weight: 600;
    }
    .galery-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .img1{
        display: flex;
        justify-content: center;
        gap: 50px;
        
    .frst{
        .imgg1{
            width: 400px;
            height: 347px;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                transform: scale(1.02);
            }
        }
        h6{
            margin-top: 0px;
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
            font-family: "Righteous", cursive;
            color: #000;
            font-size: 24px;
            line-height: 1.4em;
            font-weight: 400;
           
        }
        .date{
            font-family: Inter, sans-serif;
            color: #333;
            font-size: 16px;
            line-height: 1.4em;
            font-weight: 500;
            margin-bottom: 10px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
        .location{
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
        }
    }
    .second{
        h6{
            margin-top: 0px;
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
            font-family: "Righteous", cursive;
            color: #000;
            font-size: 24px;
            line-height: 1.4em;
            font-weight: 400;
        }
        .date{
            font-family: Inter, sans-serif;
            color: #333;
            font-size: 16px;
            line-height: 1.4em;
            font-weight: 500;
            margin-bottom: 10px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
        .location{
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
        }
        .imgg2{
           width: 400px;
           height: 347px;
           cursor: pointer;
           transition: all 0.4s;
           &:hover{
               transform: scale(1.02);
           }
        }
    }
        .third{
            .imgg3{
                width: 400px;
                height: 347px;
                cursor: pointer;
                transition: all 0.4s;
                &:hover{
                    transform: scale(1.02);
                }
             }
             h6{
                margin-top: 0px;
                margin-bottom: 10px;
                font-family: "Montserrat", sans-serif;
                font-family: "Righteous", cursive;
                color: #000;
                font-size: 24px;
                line-height: 1.4em;
                font-weight: 400;
                max-width: 300px;
               
            }
            .date{
                font-family: Inter, sans-serif;
                color: #333;
                font-size: 16px;
                line-height: 1.4em;
                font-weight: 500;
                margin-bottom: 10px;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
            }
            .location{
                display: flex;
                gap: 10px;
                align-items: center;
                font-family: Arial,sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #333;
            }
        }
    }
    }
  
    }
}