#gallery {
    background-image: url(../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png);
    padding-bottom: 100px;
  .gallery {
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
      font-family: "Montserrat", sans-serif;
      font-family: "Righteous", cursive;
      color: #000;
      font-size: 60px;
      line-height: 1.4em;
      font-weight: 600;
    }
    .galery-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        .img1{
            align-items: flex-start;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 478px) {
           flex-direction: column;
           }
        
        .imgg1{
            width: 30%;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                transform: scale(1.02);
            }
            @media only screen and (max-width: 478px) {
                width: 100%;
                }
        }
        .imgg2{
           width: 30%;
           cursor: pointer;
           transition: all 0.4s;
           &:hover{
               transform: scale(1.02);
           }
           @media only screen and (max-width: 478px) {
            width: 100%;
            }
        }
        .imgg3{
           width: 30%;
           cursor: pointer;
           transition: all 0.4s;
           &:hover{
               transform: scale(1.02);
           }
           @media only screen and (max-width: 478px) {
            width: 100%;
            }
        }
    }
        .img2{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 478px) {
            flex-direction: column;
            }
        .imgg4{
            width: 30%;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                transform: scale(1.02);
            }
            @media only screen and (max-width: 478px) {
                width: 100%;
                }
        }
        .imgg5{
            width: 30%;
           cursor: pointer;
           transition: all 0.4s;
           &:hover{
               transform: scale(1.02);
           }
           @media only screen and (max-width: 478px) {
            width: 100%;
            }
        }
        .imgg6{
           width: 30%;
           cursor: pointer;
           transition: all 0.4s;
           &:hover{
               transform: scale(1.02);
           }
           @media only screen and (max-width: 478px) {
            width: 100%;
            }
        }
    }
    }
  
    }
}
