#login-page {
    padding: 100px;
    .login {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .form {
        padding: 30px;
        box-shadow: 0px 0px 3px 0px rgba(60, 72, 88, 0.15);
        border-radius: 5px;
        background-color: #fff;
        width: 450px;
        h2 {
          text-align: center;
          letter-spacing: 0.5px;
          font-size: 24px;
          line-height: 1.5;
          font-weight: 600;
        }
        form {
          .error{
            margin-top: 10px;
            .ant-alert-error{
              background-color: #fde5e2;
              color: rgb(240, 9, 9);
              border-radius: 5px;
            }
          }
          .btn {
            margin-top: 20px;
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              color: #fff;
              background-color: #396cf0;
              box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
              font-size: 14px;
              height: 32px;
              padding: 20px 15px;
              border-radius: 6px;
              outline: 0;
              border: 0;
              cursor: pointer;
              transition: all 0.4s;
              &:hover {
                background-color: #305ccc;
              }
            }
          }
          .or {
            color: #929292;
            text-align: center;
            font-weight: 600;
            margin-top: 20px;
          }
          .btns {
            display: flex;
            align-items: center;
            column-gap: 30px;
            margin-top: 20px;
            width: 100%;
            button {
              padding: 10px 20px;
              outline: 0;
              width: 50%;
              cursor: pointer;
              font-size: 15px;
              letter-spacing: 0.5px;
              -webkit-transition: all 0.4s;
              transition: all 0.4s;
              border-radius: 5px;
              background-color: rgba(57, 108, 240, 0.1);
              border: 1px solid rgba(57, 108, 240, 0.1);
              color: #396cf0;
              -webkit-box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
              box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
              font-size: 15px;
              &:hover {
                background-color: #305ccc;
                color: #fff;
              }
            }
          }
          .input-control {
            margin-top: 20px;
            p {
              margin: 8px 0;
              label {
                font-size: 14px;
                .required {
                  color: #f0735a;
                  font-size: 15px;
                  font-weight: 600;
                  margin: 2px 5px;
                }
              }
            }
            input {
              height: 20px;
              border: 1px solid #d9d9d9;
              width: 100%;
              padding: 18px 11px;
              border-radius: 6px;
              font-size: 14px;
              outline: 0;
  
              &:hover {
                border: 1px solid #396cf0;
              }
              &:focus {
                border: 1px solid #396cf0;
              }
              &::placeholder {
                color: rgba(0, 0, 0, 0.28);
              }
            }
          }
          .new-account {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 6px;
            margin-top: 20px;
            p {
              font-size: 15px;
            }
            a {
              font-size: 15px;
              color: black;
              font-weight: 700;
            }
          }
          .forget-password {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 6px;
            margin-top: 40px;
            a {
              font-size: 14px;
              color: #305ccc;
              font-weight: 600;
            }
          }
        }
      }
    }
  }