#museum-cards {
  background-image: url("../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png");
  padding: 80px 0;
  .museum-cards {
    h2 {
      text-align: end;
      margin-right: 70px;
      font-family: "Montserrat", sans-serif;
      font-family: "Righteous", cursive;
      color: #000;
      font-size: 60px;
      line-height: 1.4em;
      font-weight: 600;
    }
    .inp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 50px;
      input {
        width: 40%;
        outline: 0;
        border: 0;
        padding: 16px 30px;
        border-radius: 50px;
      }
.sortBy{
    .sort{
        width: 80px;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.5px;
        -webkit-transition: all 0.4s;
        color: #396cf0;
        box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
        font-size: 17px;
        border-radius: 50px;
        padding: 16px 30px;
        text-align: center;
        background-color:black;
        color: #fff;
        transition: all 0.5s;
        margin-bottom: 15px;
    }
     button {
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.5px;
        -webkit-transition: all 0.4s;
        border-radius: 5px;
        color: #396cf0;
        box-shadow: 0 3px 5px 0 rgb(57 108 240 / 30%);
        font-size: 15px;
        border-radius: 50px;
        padding: 10px 10px;
        border: 0;
        outline: 0;
        background-color:black;
        color: #fff;
        transition: all 0.5s;
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        &:hover {
          background-color: #1c2f66;
          color: #fff;
        }
      }
}
     
    }
    .cards {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 120px;
      .card {
        position: relative;
        width: 280px;
       .heart{
        position: absolute;
        left: 258px;
        color: white;
        font-size: 20px;
        top: 3px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .fa-solid{
            color: rgb(218, 0, 0);
          }
          .fa-regular{
            color: rgb(218, 0, 0);
          }
        }
       }
        img {
          box-shadow: 5px 5px 20px 0px rgb(182, 181, 181);
          width: 100%;
        }
        .addto {
          font-size: 1rem;
          border: none;
          background-color: #192d43;
          padding: 10px 30px;
          border: 1px solid #192d43;
          color: #face8d;
          font-family: chillax-regular;
          border-radius: 5px;
          transition: 0.5s;
          cursor: pointer;
          @media only screen and (max-width: 478px) {
            display: none;
          }
          a {
            color: #face8d;
            text-decoration: none;
          }
          &:hover {
            background-color: white;
            border: 1px solid #192d43;
            color: #192d43;
            scale: 1.1;
          }
        }
      }
    }
  }
}
