#museum-cards{
    background-image: url('../../../assests/images/63199788adbb8e43df69c3ec_pattern-body.png');
    padding: 80px 0;
    .museum-cards{
        h2{
            text-align: end;
            margin-right: 70px; 
            font-family: 'Montserrat', sans-serif;
            font-family: 'Righteous', cursive;
                color: #000;
            font-size: 60px;
            line-height: 1.4em;
            font-weight: 600;
        }
        .cards{
            cursor: pointer;
            display: flex ;
            flex-wrap: wrap;
            justify-content: center;
            gap: 120px;
            .card{
            width: 280px;
            
            img{
                box-shadow: 5px 5px 20px 0px rgb(182, 181, 181);
                width: 100%;
            }
        }
    }
}
}